<!-- Group 2 - Harrison Ratcliffe, Julia Goyco, Stephanie Schoch, Toby Duncan
 
Date: 12/6/18

index.html contains HTML for presenting intro page
and links to other pages
-->
<!DOCTYPE html>
<html>
<body>
<!--Declaring HTML for presenting index/starting page -->
<h2><b><ul>Warehouse Site</ul></b></h2>
<p>This is a test site for managing and ordering things from a warehouse</p>
    <!--Buttons that link to other pages -->
    <a href="admin_login.html"><button>Admin</button></a>
        <br>
    <a href="order.html"><button>Order</button></a>
</body>



</html>