<!DOCTYPE html>
<html>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#delete_item').bind('click', function() {
				$.getJSON('/delete_item', {
                  myitem: $('input[name="myitem"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#update_item').bind('click', function() {
				$.getJSON('/update_item', {
                  myitem2: $('input[name="myitem2"]').val(),
				  mynum: $('input[name="mynum"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#add_item').bind('click', function() {
				$.getJSON('/add_item', {
                  myitem3: $('input[name="myitem3"]').val(),
				  mynum2: $('input[name="mynum2"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
<body>
    <h2><b><ul>Admin Management Page</ul></b></h2>
    <!-- Add stock info here -->
    <br>
    <p>Items: {{data}}</p>
    <br>
    <label><b>Delete Item</b></label>
    <br>
    <label>Item Name:</label>
    <br>
    <input id = "item" type=text name = myitem>
    <br>
    <br>
    <a href=# id=delete_item><button>Delete Item</button></a>
    <br>
    <br>
    <br>
    <label><b>Update Item</b></label>
    <br>
    <label>Item Name:</label>
    <br>
    <input id = "item2" type=text name =myitem2>
    <br>
    <label>Stock:</label>
    <br>
    <input id = "number" type=number name =mynum>
    <br>
    <br>
    <a href=# id=update_item><button>Update Item</button></a>
    
    <br>
    <br>
    <br>
      <label><b>Add Item</b></label>
    <br>
    <label>Item Name:</label>
    <br>
    <input id = "item3" type=text name =myitem3>
    <br>
    <label>Stock:</label>
    <br>
    <input id = "number2" type=number name =mynum2>
    <br>
    <br>
    <a href=# id=add_item><button>Add Item</button></a>
    
    <br>
    <br>
    <br>
    <p id=result></p>
    
</body>